html,
body,
header,
#intro {
     /* Full height */
  height: 100%;
  padding:0;
  margin:0;
}

.bg-steel{
  background-color: #90caf9;
}

#intro{
   background: url("../img/bg.png") no-repeat center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;




    /* The image used */
  /*background-image: url("img/bg.png");*/

  /* Center and scale the image nicely */
/*  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/

}


.view{
  /*opacity: 0.5;*/
}


