html,
body, {
  height: 100%;
}


.intro{
   background: url("img/bg.png") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;




    /* The image used */
  /*background-image: url("img/bg.png");*/

  /* Center and scale the image nicely */
/*  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/


   /* Full height */
  height: 100%; 
}

.bg-steel{
  background-color: #4bacb8 ;
}

